menu "Wi-Fi Configuration"

config WIFI_SSID
    string "Wi-Fi SSID"
    default "myssid"

config WIFI_PASS
    string "Wi-Fi Password"
    default "mypassword"

config MQTT_BROKER_URI
    string "MQTT broker URI"
    default "mqtt://192.168.1.1:1883"
    help
      URI of the MQTT broker, e.g. mqtt://host:port

config MQTT_DEVICE_NAME
    string "Friendly device name"
    default "ESP32 Meteopod"
    help
      This name will appear in Home Assistant as the model name of your device.
      It is used in MQTT discovery under the "device.model" field.

endmenu
